body {
    margin: 0;
    background: url("./bkgrd 1.svg");
    background-size: cover;
    z-index: 1;
}

.container {
    margin: 25px 25px;
    padding: 5px;
    display: grid;
    grid-template-areas: "nav nav nav nav" "cont1 cont1 pic1 pic1" "pic2 pic2 cont2 cont2" "foot1 foot1 foot2 foot2";
    grid-template-columns: repeat(4, minmax(max-content, 1fr));
    grid-template-rows: repeat(4, minmax(max-content, 1fr));
    grid-gap: 10px;
    background: rgba(255,255,255,0.5);
    border-radius: 25px;
    z-index: 25;
}

nav{
    grid-area: nav;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
}

.nav-item{
  flex:1;
}

#content1{
  grid-area: cont1;
}

#picture1{
  grid-area: pic1;
  background-image: url("/assets/images/theatre1.jpg");
  background-size: cover;
}

#content2{
  grid-area: cont2;
}

#picture2{
  grid-area: pic2;
  background-image: url("/assets/images/dancing1.jpg");
  background-size: cover;
}

#footer1{
  grid-area: foot1;
}

#footer2{
  grid-area: foot2;
}
