//Main flex container
.mainContainer{
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.quicknav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
  }
  
  .quickitem a{
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: #5E2590;
  }

//Style for column info
.aboutInfo{
    border: 1px solid white;
    padding: 1%;
    flex: 1;
}

//Flex wrapper for all bios
.bio-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1%;
    position: relative;
}
//Style for bio tile
.bio{
  display: flex;
  min-height: 15em;
  max-height: 30em;
  width: 15em;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  cursor: pointer;
}
//Transparent background for info
.transBack{
    visibility: hidden;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 5%;
}

//Style for all bio info
.bioInfo{
    visibility: hidden;
    color: white;
    
}
//Style for title
.subTitleInfo{
    font-size: 1em;
}

//Style for bio info
.subInfo{
    font-size: 0.5em;
    
}

//Style for About Column
.about{
    background-color: black;
    color: white;
}
//Style for Directors Column
.directors{
    background-color:#00ADEF;
    color: white;
}
//Style for Musicians Column
.musicians{
    background-color: #37AB9C;
    color: white;
}
//Style for Instructors Column
.instructors{
    background-color: #5E2590;
    color: white;
}
//When no bio pic available
.biono{
  background-image: url("/assets/images/icons.svg");
  background-size: cover;
}
//Jill
.biodir1{
  background-image: url("/assets/images/jill.jpg");
  background-size: cover;
}
//Devin
.biodir2{
    background-image: url("/assets/images/devin.jpg");
    background-size: cover;
}

.biodir3{
    background-image: url("/assets/images/taylor.jpg");
    background-size: cover;
}

.biomus1{
    background-image: url("/assets/images/kelley.jpg");
    background-size: cover;
  }
  
  .biomus2{
      background-image: url("/assets/images/kristin.jpg");
      background-size: cover;
  }
  
  .biomus3{
      background-image: url("/assets/images/sarah.jpg");
      background-size: cover;
  }
  
  .biomus4{
      background-image: url("/assets/images/jaime.jpeg");
      background-size: cover;
  }
  
  .biomus5{
      background-image: url("/assets/images/michael.jpg");
      background-size: cover;
  }

  .biomus6{
      background-image: url("/assets/images/eric.jpg");
      background-size: cover;
  }

  .biomus7{
    background-image: url("/assets/images/alejandra.jpg");
    background-size: cover;
}

  .bioinst1{
    background-image: url("/assets/images/brittany.jpg");
    background-size: cover;
  }
  
  .bioinst2{
      background-image: url("/assets/images/taylor.png");
      background-size: cover;
  }
  
  .bioinst3{
      background-image: url("/assets/images/kristin.jpeg");
      background-size: cover;
  }
  
  .bioinst4{
      background-image: url("/assets/images/roel.jpg");
      background-size: cover;
  }
  
  .bioinst5{
      background-image: url("/assets/images/lacey.jpg");
      background-size: cover;
  }

  .bioinst6{
    background-image: url("/assets/images/barry.jpg");
    background-size: cover;
  }
  

@media all and (max-width: 768px){
    .mainContainer{
        flex-direction: column;
    }

    .quicknav{
        flex-direction: column;
    }

    .bio{
    min-height: 12em;
    max-height: 25em;
    width: 12em;
    }

    .subTitleInfo{
        font-size: 0.7em;
    }
    
    //Style for bio info
    .subInfo{
        font-size: 0.4em;
        
    }
}