//Main flex container
.mainContainer{
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.quicknav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
  }
  
  .quickitem a{
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: #5E2590;
  }

//Style for column info
.aboutInfo{
    border: 1px solid white;
    padding: 1%;
    flex: 1;
}

//Flex wrapper for all bios
.bio-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1%;
    position: relative;
}
//Style for bio tile
.bio{
  display: flex;
  min-height: 15em;
  max-height: 25em;
  width: 15em;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  cursor: pointer;
}

.transBack{
    visibility: hidden;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 5%;
}

//Style for all bio info
.bioInfo{
    visibility: hidden;
    color: white;
    
}
//Style for title
.subTitleInfo{
    font-size: 1em;
}

//Style for bio info
.subInfo{
    font-size: 0.5em;
    
}

//Style for About Column
.about{
    background-color: black;
    color: white;
}
//Style for Directors Column
.directors{
    background-color:#00ADEF;
    color: white;
}
//Style for Musicians Column
.musicians{
    background-color: #37AB9C;
    color: white;
}
//Style for Instructors Column
.instructors{
    background-color: #5E2590;
    color: white;
}
//When no bio pic available
.biono{
  background-image: url("/assets/images/icons.svg");
  background-size: cover;
}

.biodir1{
  background-image: url("/assets/images/jill.jpg");
  background-size: cover;
}

.biodir2{
    background-image: url("/assets/images/");
    background-size: cover;
}

.biodir3{
    background-image: url("/assets/images/heather.jpg");
    background-size: cover;
}

.biodir4{
    background-image: url("/assets/images/taylor.jpg");
    background-size: cover;
}

.biodir5{
    background-image: url("/assets/images/alex.jpg");
    background-size: cover;
}

.biomus1{
    background-image: url("/assets/images/");
    background-size: cover;
  }
  
  .biomus2{
      background-image: url("/assets/images/");
      background-size: cover;
  }
  
  .biomus3{
      background-image: url("/assets/images/");
      background-size: cover;
  }
  
  .biomus4{
      background-image: url("/assets/images/");
      background-size: cover;
  }
  
  .biomus5{
      background-image: url("/assets/images/");
      background-size: cover;
  }

  .bioinst1{
    background-image: url("/assets/images/");
    background-size: cover;
  }
  
  .bioinst2{
      background-image: url("/assets/images/");
      background-size: cover;
  }
  
  .bioinst3{
      background-image: url("/assets/images/");
      background-size: cover;
  }
  
  .bioinst4{
      background-image: url("/assets/images/");
      background-size: cover;
  }
  
  .bioinst5{
      background-image: url("/assets/images/breanne.jpg");
      background-size: cover;
  }

  .bioinst6{
    background-image: url("/assets/images/");
    background-size: cover;
  }
  
  .bioinst7{
      background-image: url("/assets/images/");
      background-size: cover;
  }
  
  .bioinst8{
      background-image: url("/assets/images/");
      background-size: cover;
  }
  
  .bioinst9{
      background-image: url("/assets/images/kristin.jpeg");
      background-size: cover;
  }
  
  .bioinst10{
      background-image: url("/assets/images/");
      background-size: cover;
  }

  .bioinst11{
    background-image: url("/assets/images/roel.jpg");
    background-size: cover;
  }
  
  .bioinst12{
      background-image: url("/assets/images/");
      background-size: cover;
  }
  
  .bioinst13{
      background-image: url("/assets/images/");
      background-size: cover;
  }

@media all and (max-width: 768px){
    .mainContainer{
        flex-direction: column;
    }
}