button{
  background-color: #5E2590;
  border: 5px solid white;
  color: white;
  border-radius: 10px;
  font-size: 2em;
  cursor: pointer;
}

button:hover{
  background-color: white;
  color: #5E2590;
}


//Grid container for all info
.container {
    margin-top: 3%;
    display: grid;
    grid-template-areas: "main1 main1 main1 main1" "cont1 cont1 cont1 cont1" "pic2 pic2 cont2 cont2"
       "cont3 cont3 cont4 cont4";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-gap: 5px;
}
//Used to align main window to right
.subCont{
  display: flex;
  justify-content: flex-end;
}
//Used to align FAQ into columns
.subCont2{
  display: flex;
  flex-direction: column;
}
//Main window to schedule auditions
.mainInfo{
  text-align: center;
  width: 50%;
  margin: 2%;
  border: 1px solid white;
  border-radius: 15px;
  background-color: rgba(94, 37, 144, 0.8);
}
//grid item of main pic and info
.main1{
  grid-area: main1;
  height: 30em;
  background-image: url("/assets/images/singing1.jpg");
  background-size: cover;
}

.content {
  margin: 25px 25px;
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-size: 1em;
}

// Inherits from .content
.content1{
  grid-area: cont1;
  
}

// Inherits from .content
.content2{
    grid-area: cont2;
}
// Inherits from .content
.content3 {
  grid-area: cont3;
}

.content4 {
  grid-area: cont4;
}

// Inherits from .picture
.picture1{
  grid-area: pic1;
}
// Inherits from .picture
.picture2{
  grid-area: pic2;
  background-image: url("/assets/images/dancing1.jpg");
  margin-left: 2%;
  border-radius: 15px;
}

.picture3 {
    width: 100%;
    border-radius: 20px;
}

.noticeY {
  color: yellow;
  font-weight: bold;
}

.noticeB {
  color: blue;
  font-weight: bold;
}

@media all and (max-width: 768px){
.container{
  display: flex;
  flex-direction: column;
}
.mainInfo{
  width: 100%;
}
}