body{
  margin: 0 auto;
  width: 100%;
  z-index:1;
  background-image: url("/assets/images/backgrd3.svg");
  background-size: cover;
  font-family: 'Spectral', serif;
}

footer{
  background-color: rgb(141, 43, 141);
  display: flex;
  justify-content: space-around;
}

.container {
    margin-top: 5%;
    display: grid;
    grid-template-areas: "pic1 pic1 pic1 pic1" "cont1 cont1 cont2 cont2" "pic2 pic2 pic2 pic2"
       "cont3 cont3 cont4 cont4";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-gap: 5px;
}

#phrase{
  grid-area: phrase;
}

#ticket{
  grid-area: ticket;
}

.content {
  margin: 25px 25px;
  padding: 5px;
}

// Inherits from .content
.content1{
  grid-area: cont1;
}  
// Inherits from .content
.content2{
    grid-area: cont2;
}
// Inherits from .content
.content3 {
  grid-area: cont3;
}

.content4 {
  grid-area: cont4;
}

.picture {
  background-size: cover;
}
// Inherits from .picture
.picture1{
  grid-area: pic1;
  background-image: url("/assets/images/theatre1.jpg");
}
// Inherits from .picture
.picture2{
  grid-area: pic2;
  background-image: url("/assets/images/dancing1.jpg");
}

.picture3 {
    width: 100%;
    border-radius: 20px;
}

.noticeY {
  color: yellow;
}

.noticeB {
  color: blue;
}