body{
  margin: 0 auto;
  width: 100%;
  z-index:1;
  background-image: url("/assets/images/backgrd3.svg");
  background-size: cover;
  font-family: 'Spectral', serif;
}

footer{
  background-color: rgb(141, 43, 141);
  display: flex;
  justify-content: space-around;
}

.site-wrap {
    max-width: 70em;
    margin: 100px auto;
    background: rgba(255,255,255,0.5);
    padding: 40px;
    text-align: justify;
  }
  .align-left {
    float: left;
    margin-right: 20px;
  }
  .align-right {
    float: right;
    margin-left: 20px;
  }
  .slide-in {
    opacity: 0;
    transition: all .5s;
  }
  .align-left.slide-in {
    transform: translateX(-30%) scale(0.95);
  }
  
  .align-right.slide-in {
    transform: translateX(30%) scale(0.95);
  }
  .slide-in.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }