.sitewrap {
    max-width: 90%;
    margin: 2% auto;
    background: rgba(255,255,255,0.5);
    padding: 40px;
    text-align: justify;
    border-radius: 15px;
  }

  .flexcontainer{
    display: flex;
  }

  .flexitem {
    padding: 2%;
    align-self: center;
  }

  .pic{
    border-radius: 15px;
  }

  .align-left {
    grid-area: leftpic;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s ease-out;
  }
  .align-right {
    grid-area: rightpic;
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s ease-out;
  }

  .fade-in {
    opacity: 1;
    transform: translateX(0);
  }