
.campContainer{
    display: flex;
    flex-direction: column;
}
.camps {
    margin: 2% 1%;
    min-height: 33vh;
    width:100%;
}

.camps p{
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
        font-size: 2em;
        color: royalblue;
}

.camps a{
    text-decoration: none;
}

.theaterCamp{
    background: url("/assets/images/theatre2.jpg");
    background-size: cover;
}

.danceCamp{
    background: url("/assets/images/dancing1.jpg");
    background-size: contain;
}

.infoCamp{
    background: url("/assets/images/singing1.jpg");
    background-size: contain;
}