html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.panels {
    min-height: 75vh;
    overflow: hidden;
    display: flex;
    font-size: 3em;
    font-weight: 200;
}

.panel {
    background: #6B0F9C;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    align-items: center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition: font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11), flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11), background 0.2s;
    font-size: 1em;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.panel1 {
    background-image: url(/assets/images/theatre1.jpg);
}

.panel2 {
    background-image: url(/assets/images/theater3.jpg);
}

.panel3 {
    background-image: url(/assets/images/theater1.jpg);
}


/* Flex Items */
.panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel > *:first-child {
    transform: translateY(-100%);
}

.panel.open-active > *:first-child {
    transform: translateY(0);
}

.panel > *:last-child {
    transform: translateY(100%);
}

.panel.open-active > *:last-child {
    transform: translateY(0);
}

.panel a{
    text-decoration: none;
    color: blue;
}

.panel p {
    text-transform: uppercase;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 1em;
}

.panel p:nth-child(2) {
        font-size: 1em;
}

.panel.open {
    flex: 5;
    font-size: 1.5em;
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    filter: grayscale(0);
}

@media only screen and (max-width: 600px) {
.panels{
        flex-direction: column;
}

.panel.open{
    flex: 5;
    font-size: 1em;
}

.panel > *:first-child {
        transform: translateX(-100%);
}

.panel.open-active > *:first-child {
    transform: translateX(0);
}

.panel > *:last-child {
    transform: translateX(100%);
}

.panel.open-active > *:last-child {
    transform: translateX(0);
}

}
