html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    max-width: 100vw;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.panels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:stretch;
    min-height:75vh;
    font-size: 6em;
}


.panel {
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    min-height: 100%;
    color: white;
    text-align: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.tColor {
    .panelTitle{color:#00ADEF;}
}


.panel1 {
    background-image: url(/assets/images/dance1.jpg);
    background-size: cover;
}

.panel2 {
    background-image: url(/assets/images/theater3.jpg);
    background-size: cover;
}

.panel3 {
    background-image: url(/assets/images/theater1.jpg);
    background-size: cover;
}


.panel a{
    text-decoration: none;
    color: white;
}

.panel p {
    text-transform: uppercase;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 1em;
}


.panelLink{
    visibility: hidden;
    margin: auto;
}


.pContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    perspective: 6000px;
    -webkit-perspective: 6000px;
    -o-perspective: 6000px;
    -moz-perspective: 6000px;
  }
  
  .card{
    width: 20em;
    height: 20em;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -o-transform-style: preserve-3d;
    -o-transition: -o-transform 1s;
    -moz-transform-style: preserve-3d;
    -moz-transition: -moz-transform 1s;
    cursor: pointer;
    margin-bottom: 1%;
  }
  
  .card-face{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    border-radius: 15px;
  }
  
.card-front{
    display: flex;
    justify-content: center;
    align-items:center;
}

  .card-back{
    display: flex;
    flex-direction: column;
    transform: rotateY( 180deg );
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    overflow-y: auto;
    
  }
  
  .card.is-flipped{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
  }
  
  .transCont{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: auto;
    text-align: center;
    padding: 2%;
    border-radius:15px;
  }
  
//Card Titles
.textC{
    margin: 2% auto;
    padding: 2%;
    text-align: center;
    width: 80vw;
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
}

.prodLinks{
    color: white;
    // text-decoration: none;
}

.card-front, .card-back {
      background: url("/assets/images/icons.svg");
      border: 1px solid black;
      padding: 1%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
}
//Purchase button for each class
.purchaseClick{
    margin:1%;
    padding: 0 1%;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: #5E2590
}

.purchaseClick:hover{
    a{color: white;}
    background-color: #5E2590;
}

.purchaseLink > a{
    text-decoration: none;
    color: #5E2590;
}

//Info container
.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
}

.modalContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    max-width: 70vw;
    max-height: 90vh;
    overflow-y: auto;
}

.modalContent > img {
    object-fit: contain;
}

.closeButton{
    background: #5E2590;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	left: 12px;
	text-align: center;
	top: 10px;
    width: 24px;
    z-index: 12;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    cursor: pointer;
}

.closeButton:hover{
    background-color: #FFFFFF;
    color:#5E2590;
}

.bold{
    font-weight: bold;
    color:#5E2590;
}

.underline{
    text-decoration: underline;
}

.showModal {
    opacity: 1;
    z-index: 11;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


.infoCont{
    margin: 2%;
    background: url(/assets/images/newsbkg.svg);
    background-size: cover;
    border-radius: 15px;
}

.infoButtons{
    margin: 5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center; 
}

.infoClick{
    margin:2%;
    font-size: 2.5em;
    padding: 0 1%;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: #5E2590
}

.infoClick:hover{
    color: white;
    background-color: #5E2590;
    cursor: pointer;
}

//Triple Threat content
.tripleCont{
    font-size: 2em;
}

//Class Schedule Heading
.schedContTitle{
    font-size: 3.5em;
}



@media only screen and (min-width: 768px) and (max-width: 1024px) {
.panels{
    font-size: 4em;
}

.tripleCont{
    font-size: 1.2em;
}

.panel{
    font-size: 0.6em;
}

}

@media only screen and (max-width: 767px) {
    .panels{
        font-size: 2em;
    }
    
    .tripleCont{
        font-size: 1.2em;
    }
    
    .panel{
        font-size: 0.6em;
    }
    
    }
    
    
