//Main flex container
.mainContainer{
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    justify-content: space-evenly;
}

//Left flex item with map
.mapFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//Right flex item with contact form/Email buttons
.contactFlex{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

//General flex item
.contactInfo{
  padding: 1%;
  margin: 1%;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.5);
}

//Sub flex to left side of page
.contactLeft{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

//Flex Title style
.contactTitle{
    text-align: center;
    color: #5E2590;
}

//Email divs styled like buttons
.contactClick{
    margin:1%;
    padding: 0 1%;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: #5E2590
}

//Button like animation
.contactClick:hover{
    a{color: white;}
    background-color: #5E2590;
}

.contactLink > a{
    text-decoration: none;
    color: #5E2590;
}

//Contact Form
.formFlex{
  list-style-type: none;
  padding: 0;
  max-width: 45vw;
  margin: 0 auto;
}

.formFlex li{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.formFlex > li:not(:last-child) {
  margin-bottom: 1%;
}

.formFlex li label{
  padding: 0.5%;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
  flex: 1;
}

.formFlex li input{
  flex: 3;
  padding: 0.5%;
}


.formFlex li textarea {
  flex: 3;
  padding: 1%;
}


.formFlex li button {
  margin-left: auto;
  padding: 1%;
  background: #5E2590;
  color: white;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 15px;
  cursor: pointer;
}

.formFlex li button:hover{
  color: #5E2590;
  background-color: white;
}

.success{
  font-size: 2em;
  color: #5E2590;
}

.hidden{
  visibility: hidden;
}

.bigIcons{
    margin: 2%;
    text-align: center;
    font-size: 3em;
    color: white;
}

.newsLetter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1%;
  margin: 1%;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.5);
  color:#5E2590;
}

.newsLetter > form > button{
  padding: 1%;
  background: #5E2590;
  color: white;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 5px;
  cursor: pointer;
}

.newsLetter > p {
  font-weight: bold; 
}

.newsLetter > form > button:hover{
  color: #5E2590;
  background-color: white;
}

@media all and (max-width: 1024px){
 .mainContainer{
     flex-direction: column;
 }

 .mapFlex > iframe{
   width: 300px;
   height: 300px;
 }

.formFlex > li{
  flex-direction: column;
}

}
