body{
    margin: 0 auto;
    width: 100%;
    z-index:1;
    background-image: url("/assets/images/backgrd3.svg");
    background-size: cover;
    font-family: 'Spectral', serif;
}

footer{
    background-color: rgb(141, 43, 141);
    display: flex;
    justify-content: space-around;
}