.amazonSmile{
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/x-locale/paladin/charitycentral/banner-background-image._CB309675353_.png");
    width: 300px;
    height: 250px;
}

a{
    text-decoration: none;
    text-align: center;
    color: white;
}

a:hover{
    color: #00ADEF;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    justify-content: space-evenly;
    color:white;
}

.donateInfo{
    padding: 1%;
    margin: 1%;
    border: 2px solid white;
    border-radius: 15px;
    background-color: #5E2590;
}

.donateInfo > h1{
    text-align: center;
}

.donateClick{
    border: 2px solid white;
    border-radius: 5px;

}

@media all and (max-width: 768){
 .listContainer{
     flex-direction: column;
 }
}