ul {
  list-style-type: none;
}

.grad-wrapper{
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  ". logo ."
  "left-gradpic info right-gradpic"
  "left-gradpic info right-gradpic"
  "left-gradpic info right-gradpic";
  grid-gap: 10px;
  background: rgba(255,255,255,0.5);
  border-radius: 50px;
  perspective: 3300px;
  position: relative;
}

.tile{
  margin: 0 auto;
  color: white;
  font-size: 1.3em;
  text-align: center;
  height: 8em;
  font-weight: 300;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: #333;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.left-gradpic {
  grid-area: left-gradpic;
}
.right-gradpic {
  grid-area: right-gradpic;
}

#info{
  grid-area: info;
}
