//Default link style
a{
  text-decoration: none;
  color: #00ADEF;
}

a:hover{
  color: #37AB9C;
}
//Default ul style
ul {
  list-style-type: none;
}

//body class 
.bodyGrads{
  margin: 0 auto;
  z-index:1;
  background-image: url("/assets/Images/backgrd3.svg");
  background-size: contain;
  background-repeat: repeat-y;
}

//Flex wrapper
.gradSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

//Flex item grad info
.info{
  flex: 1;
  margin: 5%;
  background: rgba(255,255,255,0.5);
  border-radius: 50px;
  padding: 2%;
}

.bold{
  font-weight: bold;
  color:#5E2590;
}

.clickYear{
  color: #5E2590;
}

//Style for grad list
.yearSelect > li{
  position: relative;
  visibility: hidden;
  height: auto;
  overflow: hidden;
  font-size: 2em;
  font-weight: normal;
  cursor: auto;
}

.yearSelect > li:first-child{
  visibility: visible;
  cursor: pointer;
  font-size: 3em;
  font-weight: bold;
}

//Bold year for grad list
.yearSelect > .year{
  font-size: 2.5em;
  font-weight: bold;
  color:#5E2590;
}



@media all and (max-width: 1024px){
  .yearSelect > li{
    position: relative;
    visibility: hidden;
    height: auto;
    overflow: hidden;
    font-size: 1em;
    font-weight: normal;
    cursor: auto;
  }
  
  .yearSelect > li:first-child{
    visibility: visible;
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
  }

  .yearSelect > .year{
    font-size: 1.5em;
    font-weight: bold;
  }
}
