
a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: #5E2590;
}

ul {
  list-style-type: none;
}

.yearSelect{
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
}

.yearSelect > li{
  position: relative;
  visibility: hidden;
  height: auto;
  overflow: hidden;
  font-size: .75em;
  font-weight: normal;
  cursor: auto;
}

.yearSelect > .year{
  font-size: .80em;
  font-weight: bold;
}

.grad-wrapper{
  margin: 2%;
  display: grid;
  grid-template-areas:
  "left-gradpic info right-gradpic"
  "left-gradpic info right-gradpic"
  "left-gradpic info right-gradpic"
  "left-gradpic mid-gradpic right-gradpic";
  grid-gap: 10px;
  position: relative;
}

.tile{
  margin: 0 auto;
  color: white;
  font-size: 0.7em;
  font-weight: 300;
  overflow: hidden;
  cursor: pointer;
  position: relative;

}

.grad{
  display: flex;
  height: 15em;
  width: 15em;
  border-radius: 15px;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2%;
}

//Grad Info
.gradInfo{
  visibility: hidden;
  color: white;
}

//Info on Grads
.subInfo{
  font-size: 0.4em;
}

.grad1{
  background-image: url("/assets/images/Pim Head.jpg");
  background-size: cover;
}

.grad2{
  background-image: url("/assets/images/Victoria Head.jpg");
  background-size: cover;
}

.grad3{
  background-image: url("/assets/images/Zoe Head.jpg");
  background-size: cover;
}

.grad4{
  background-image: url("/assets/images/Lexy Head.jpg");
  background-size: cover;
}

.grad5{
  background-image: url("/assets/images/Logan Head.jpg");
  background-size: cover;
}

.grad6{
  background-image: url("/assets/images/Stephen Head.jpg");
  background-size: cover;
}

.grad7{
  background-image: url("/assets/images/Daniella Head.jpg");
  background-size: cover;
}

.grad8{
  background-image: url("/assets/images/Ryan Head.jpg");
  background-size: cover;
}

.grad9{
  background-image: url("/assets/images/PJ Head.jpeg");
  background-size: cover;
}

.left-gradpic {
  grid-area: left-gradpic;
}

.mid-gradpic{
  grid-area: mid-gradpic;
}

.right-gradpic {
  grid-area: right-gradpic;
}

#info{
  grid-area: info;
  width: 100%;
  background: rgba(255,255,255,0.5);
  border-radius: 50px;
  padding: 1%;
}
