ul {
  list-style-type: none;
}

.grad-wrapper{
  margin: 25px 25px;
  display: grid;
  grid-template-areas:
  ". logo ."
  "left-gradpic info right-gradpic"
  "left-gradpic info right-gradpic"
  "left-gradpic info right-gradpic";
  grid-template-columns: repeat(3, 33vw);
  grid-template-rows: 1fr repeat(3, 70vh);
  grid-gap: 10px;
  background: rgba(255,255,255,0.5);
  border-radius: 25px;
  z-index: 5;
  padding: 2em .5em;
  width: 100%;
  height:100%;
  perspective: 3300px;
  position: relative;
}

.tile{
  max-width:100%;
  margin: 0 auto 1%;
  color: white;
  font-size: 1.3em;
  text-align: center;
  height: 8em;
  font-weight: 300;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  color: #333;
  position: relative;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.left-gradpic {
  grid-area: left-gradpic;
}
.right-gradpic {
  grid-area: right-gradpic;
}

#info{
  grid-area: info;
}
