html {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}

.panel {
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    align-items: center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition: font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11), flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11), background 0.2s;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.panel1 {
    background-color: #5E2590;
}

.panel2 {
    background-color: #00ADEF;
}

.panel3 {
    background-color: #37AB9C;
}

.panel4 {
    background-color: black;
}

/* Flex Items */
.panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel > *:first-child {
        transform: translateY(-100%);
}

.panel.open-active > *:first-child {
    transform: translateY(0);
}

.panel > *:last-child {
    transform: translateY(100%);
}

.panel.open-active > *:last-child {
    transform: translateY(0);
}

.panel p {
    text-transform: uppercase;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
}

.panel a {
    text-decoration: none;
    color: white;
}

.panel p:nth-child(2) {
        font-size: 2em;
}

.panel.open {
    flex: 5;
    font-size: 3em;
}

@media all and (max-width: 1024px) {
    .panel p {
        font-size: 1em;
    }



    .panel.open:nth-child(2){
        font-size: 1.45em;
    }

    .panel.open{
        font-size: 2em;
    }

    .panels{
        flex-direction: column;
    }
    .panel > *:first-child {
        transform: translateX(-100%);
    }

    .panel.open-active > *:first-child {
    transform: translateX(0);
    }

    .panel > *:last-child {
    transform: translateX(100%);
    }

    .panel.open-active > *:last-child {
    transform: translateX(0);
    }
}


