.lnInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lnColumn{
    text-align: center;
}

.productions{
    display: flex;
    justify-content: space-around;
    width: 90vw;
    height: 70vh;
}

.card{
    border: 1px solid #CCC;
    perspective: 600px;
    margin: 2% 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card-face{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card-back{
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.9);
    transform: rotateY( 180deg );
    overflow-y: auto;
}

.card.is-flipped{
    transform: rotateY(180deg);
}

.card1-front{
    background:url("/assets/images/prod1.jpg") no-repeat center center;
    background-size: cover;
}

.card2-front {
    background: url("/assets/images/prod2.jpg") no-repeat center center;
    background-size: cover;
}

.card3-front {
    background: url("/assets/images/prod3.jpg") no-repeat center center;
    background-size: cover;
}

