body{
    font-family: 'Nunito Sans', sans-serif;
}

.latenight{
    background-color: black;
    background-image: none;
}


.lnInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lnColumn{
    color: red;
    text-align: center;
    flex: 1;
}

.lnColumn p{
    flex: 1;
    color: blue;
}

.pContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  
.card{
    width: 300px;
    height: 300px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card-face{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card-back{
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.9);
    transform: rotateY( 180deg );
    overflow-y: auto;
}

.card.is-flipped{
    transform: rotateY(180deg);
}

.card1-front{
    background:url("/assets/images/silence.png");
    background-size: cover;
}

.card2-front {
    background: url("/assets/images/jerry.png");
    background-size: cover;
}


