

*, *:before, *:after{
  box-sizing: inherit;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    padding: 10vw;
    background: url("/assets/images/bkgrd 1.svg");
    background-size: cover;
    z-index: 1;
    box-sizing: border-box;
}

.navcontainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.menu-wrapper {
    position: relative;
    height: 0;
    width: 20%; /* any width you want */
    // padding-top: 50%; /* if the menu is in full circle mode. 50% if it is in semi-circle mode. */
}
// #menu {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
// }

.site-wrap {
  max-width: 70em;
  margin: 100px auto;
  background: white;
  padding: 40px;
  text-align: justify;
}
.align-left {
  float: left;
  margin-right: 20px;
}
.align-right {
  float: right;
  margin-left: 20px;
}
.slide-in {
  opacity: 0;
  transition: all .5s;
}
.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}
.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
