body{
    margin: 0 auto;
    width: 100%;
    z-index:1;
    background-image: url("/assets/images/backgrd3.svg");
    background-size: cover;
    z-index: 1;
}

footer{
    background-color: rgb(141, 43, 141);
    display: flex;
    justify-content: space-around;
}


//Flex container for hero and quick nav
.flexMainContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.frontPic img{
    border-radius: 15px;
}


.front3Guides{
    background-color: #3c0958;
    color: #7744e8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.guide {
    background-color: #240237;
    color: #a184b1;
    text-align: center;

}
//Need border shadow for 3d effect
.guide button{
    margin: 1%;
    border-radius: 10px;
}

//Dividing line between sections
.dividingLine{
    background-image: url("/assets/images/backgrd3.svg");
    background-size: cover;
    border: 5px outset black;
    margin: 1%;
}

//Flex container for 3 columns
.flex3Columns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 2%;
}

.column{
    border-radius: 15px;
    border: 2px purple;
    background-color: white;
}

.column1{
    order: 1;
}

.column2{
    order: 2;
}

.column3{
    order: 3;
}

.links{
    text-decoration: none;
}

.socialLinks{
    text-decoration: none;
}

.contactLinks{
    text-decoration: none;
}