//Default element style
*, *:before, *:after{
  box-sizing: inherit;
}

*:focus{
  background: black;
  color: white;
  border: blue 2px dotted;
}

//Default element style
ul{
  list-style: none;
}

//default font, background
body{
    margin: 0 auto;
    width: 100%;
    z-index:1;
    background-image: url("/assets/images/backgrd3.svg");
    background-size: cover;
    font-family: 'Lato', sans-serif;
    max-width: 100%;
}
//Navigation container
.navcontainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25vh;
}
//OHLOOK Logo flex item
.navlogo {
  flex: 1;
}
//OHLOOK Logo image
.navlogo img {
  margin: 2% 5%;
  width: 100%;
  height: 100%;
}
//OHLOOK news middle section of nav
.navnews{
margin:2%;
flex: 2;
border-radius: 15px;
background-image: url("/assets/images/news.png");
background-size: contain;
}
//Nav button right section of nav
.navfirst {
  display: flex;
  justify-content: flex-end;
  flex: 0.5;
}

  //.navTop are top catagories
  .navTop:first-child{
    color: grey;
    font-size: 24px;
  }
  
  .navTop:not(:first-child){
    color: grey;
    font-size: 48px;
  }
  //.navsub are sub-catagories of top
  .navSub{
    display: inline-block;
    visibility: hidden;
    color: grey;
    font-size: 48px;
    margin: 0 2%;
  }
  
  //Properties for all nav links
  .navlink{
    text-decoration: none;
    color: #fff;
  }
  
  //hover for all nav links top and sub
  .navlink:hover{
    color: grey;
  }
  
  //Wrapper for nav open/close
  .toggle-btn {
    position: fixed;
    margin: 1.4em;
    padding: 1em;
    width: 40px;
    height: 36px;
    right: 5%;
    z-index: 6;
  }
  //First line in nav open/close
  .one {
    position: absolute;
    width: 40px;
    height: 2px;
    background: #fff;
    z-index: 6;
  }
  //Second line in nav open/close
  .two {
    position: absolute;
    width: 40px;
    height: 2px;
    background: #fff;
    margin-top: 12px;
    z-index: 6;
  }
  //Menu background
  .menu{
    z-index: 5;
    position: fixed;
    background: #101010;
    height: 100%;
    width:100%;
    top: -110%;
  }
  
  .data{
    padding: 8 em 0 0 2em;
    text-align: left;
  }


//default footer
footer{
    display: flex;
    flex-direction: column;
    background-color: #5E2590;
    text-align: center;
    max-width: 100%;
}
//Sponsor Ads
.sponsorAd{
  height: 8em;
  margin: 1%;
}
//Sponsor Links
.sponsorLink{
  display:block;
  width: 100%;
  height: 100%;
}

.sponsorLink:focus{
  background: none;
}

//Passion Lighting Ad 
.passion{
  background-image: url("/assets/images/passion.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
}
//Hop and Sting Ad
.hopsting{
  background-image: url("/assets/images/hopsting.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

//Complete Care Ad
.ccare{
  background-image: url("/assets/images/ccare.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

//Footer Links
.linkContainer{
    display: flex;
    flex-direction: row;
    color: white;
}

.footerFlex{
  flex:1;
}

//left-link footer
.links a{
    text-decoration: none;
    color:white;
}

.links a:hover{
    color: #00ADEF;
}

.socialLinks{
  align-self: center;
}

  @media all and (max-width: 768px){
    .menu{
      position: absolute;
      height: 200%;
      top: -200%;
    }

    .navSub{
      display: block;
      visibility: visible;
    }

  }