body{
    margin: 0 auto;
    width: 100%;
    z-index:1;
    background-image: url("/assets/images/backgrd3.svg");
    background-size: cover;
    font-family: 'Spectral', serif;
}

footer{
    background-color: #5E2590;
    display: flex;
    justify-content: space-around;
}


.links{
    text-decoration: none;
    color: #00ADEF;
}

.links:hover{
    color: #37AB9C;
}

.socialLinks{
    text-decoration: none;
    color: #37AB9C;
}

.fab:hover{
    color: #00ADEF;
}

.contactLinks{
    text-decoration: none;
    color: #00ADEF;
}

.contactLinks:hover{
    color: #37AB9C;
}

*, *:before, *:after{
    box-sizing: inherit;
  }
  
  ul{
    list-style: none;
  }
  
  //.navtop are top catagories
  .navtop:first-child{
    color: grey;
    font-size: 24px;
  }
  
  .navtop:not(:first-child){
    color: grey;
    font-size: 48px;
  }
  //.navsub are sub-catagories of top
  .navSubP, .navSubCl, .navSubCa, .navSubD{
    color: grey;
    font-size: 48px;
    display:none;
  }
  
  //Properties for all nav links
  .navlink{
    text-decoration: none;
    color: #fff;
  }
  
  //hover for all nav links top and sub
  .navlink:hover{
    color: grey;
  }
  
  .navcontainer {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 20vh;
  }
  
  .navlogo {
      flex: 1;
  }
  
  .navlogo img {
      margin: 1% 5%;
      width: 100%;
      height: 90%;
  }
  
  .navfirst {
      display: flex;
      justify-content: flex-end;
      flex: 2;
  }
  //Wrapper for nav open/close
  .toggle-btn {
    position: fixed;
    margin: 1.4em;
    padding: 1em;
    width: 40px;
    height: 36px;
    right: 5%;
    z-index: 6;
  }
  //First line in nav open/close
  .one {
    position: absolute;
    width: 40px;
    height: 2px;
    background: #fff;
    z-index: 6;
  }
  //Second line in nav open/close
  .two {
    position: absolute;
    width: 40px;
    height: 2px;
    background: #fff;
    margin-top: 12px;
    z-index: 6;
  }
  //Menu background
  .menu{
    z-index: 5;
    position: fixed;
    background: #101010;
    height: 100%;
    width:100%;
    top: -110%;
  }
  
  .data{
    padding: 8 em 0 0 2em;
    text-align: left;
  }
  
  