body{
    margin: 0 auto;
    width: 100%;
    z-index:1;
    background-image: url("/assets/images/backgrd3.svg");
    background-size: cover;
    font-family: 'Spectral', serif;
    z-index: 1;
}

footer{
    background-color: rgb(141, 43, 141);
    display: flex;
    justify-content: space-around;
}

//Flex container for hero and quick nav
.flexMainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.frontPic img{
    border-radius: 15px;
}


.front3Guides{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
}

.guide {
    color: white;
    text-align: center;

}
//Need border shadow for 3d effect
.guide button{
    background-color: Transparent;
    color: white;
    font-size: 1em;
    margin: 1%;
    border: 2px white solid;
    border-radius: 15px;
    font-family: 'Spectral', serif;
}

.guide button:hover {
    animation: pulse 2s;
}

@keyframes pulse{
    0%{
        background-color: transparent;
        color: white;
    }
    100%{
        background-color: black;
        color: yellow;
    }
}

//Dividing line between sections
// .dividingLine{
//     background-image: url("/assets/images/backgrd3.svg");
//     background-size: cover;
//     border: 5px outset purple;
//     margin-top: 0.3%;
// }

//Flex container for 3 columns
.flex3Columns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 2%;
}

.column{
    border-radius: 15px;
    border: 2px purple;
    background-color: white;
}

.column1{
    order: 1;
}

.column2{
    order: 2;
}

.column3{
    order: 3;
}

.links{
    text-decoration: none;
}

.socialLinks{
    text-decoration: none;
}

.contactLinks{
    text-decoration: none;
}

@media all and (max-width: 768px){
    .flexMainContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}