body{
    margin: 0 auto;
    width: 100%;
    z-index:1;
    background-image: url("/assets/images/backgrd3.svg");
    background-size: cover;
    font-family: 'Spectral', serif;
}

footer{
    background-color: #5E2590;
    display: flex;
    justify-content: space-around;
}

//Flex container for hero and quick nav
.flexMainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.frontPic img{
    border-radius: 15px;
}


.front3Guides{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
}

.guide {
    color: white;
    text-align: center;

}
//Need border shadow for 3d effect
.guide button{
    background-color: Transparent;
    color: white;
    font-size: 1em;
    margin: 1%;
    border: 2px white solid;
    border-radius: 15px;
    font-family: 'Spectral', serif;
}

.guide button:hover {
    animation: pulse 2s;
}

@keyframes pulse{
    0%{
        background-color: transparent;
        color: white;
    }
    100%{
        background-color: black;
        color: yellow;
    }
}


.dividingLine{
    border: 5px outset white;
}

//Flex container for 3 columns
.flex3Columns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 2%;
}

.column{
    border-radius: 15px;
    border: 2px white;
    color: white;
    background-color:#5E2590;
    padding: 1%;
}

.links{
    text-decoration: none;
    color: #00ADEF;
}

.socialLinks{
    text-decoration: none;
    color: #37AB9C;
}

.contactLinks{
    text-decoration: none;
    color: #00ADEF;
}

@media all and (max-width: 768px){
    .flexMainContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}