

*, *:before, *:after{
  box-sizing: inherit;
}

body {
    margin: 0;
    background: url("/assets/images/bkgrd 1.svg");
    background-size: cover;
    z-index: 1;
    box-sizing: border-box;
}

.container {
    margin: 25px 25px;
    padding: 5px;
    display: grid;
    grid-template-areas: "logo logo phrase ticket" "cont1 cont1 pic1 pic1" "pic2 pic2 cont2 cont2"
        "cont3 cont3 pic3 pic3";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 3fr 3fr 3fr;
    grid-gap: 10px;
    background: rgba(255,255,255,0.5);
    border-radius: 25px;
    z-index: 5;
}

.navcontainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.menu-wrapper {
    position: relative;
    height: 0;
    width: 20%; /* any width you want */
    // padding-top: 50%; /* if the menu is in full circle mode. 50% if it is in semi-circle mode. */
}
// #menu {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
// }

#logo{
  grid-area: logo;
}

#phrase{
  grid-area: phrase;
}

#ticket{
  grid-area: ticket;
}

#content1{
  grid-area: cont1;
}

#picture1{
  grid-area: pic1;
  background-image: url("/assets/images/theatre1.jpg");
  background-size: cover;
}

#content2{
  grid-area: cont2;
}

#picture2{
  grid-area: pic2;
  background-image: url("/assets/images/dancing1.jpg");
  background-size: cover;
}

#content3 {
    grid-area: cont3;
}

#picture3 {
    grid-area: pic3;
    background-image: url("/assets/images/music1.jpg");
    background-size: cover;
}

.site-wrap {
  max-width: 70em;
  margin: 100px auto;
  background: white;
  padding: 40px;
  text-align: justify;
}
.align-left {
  float: left;
  margin-right: 20px;
}
.align-right {
  float: right;
  margin-left: 20px;
}
.slide-in {
  opacity: 0;
  transition: all .5s;
}
.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}
.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
