.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.infoMC{
  background: rgba(255,255,255,0.5);
  border-radius: 15px;
  padding: 1%;
  margin: 1%;
}

.picMC{
    text-align: center;
    margin: 1%;
}

.picMC > img{
    border-radius: 15px;
}

@media all and (max-width: 1024px){
    .mainContainer{ 
        flex-direction:column;
        align-items: center;
    }

    .infoMC{
        margin: 5%;
        padding: 3%;
    }

    .infoMC > h1, h2{
        text-align: center;
    }

    .picMC > img{
        width: 90vw;
        height: 50vh;
    }
}