.partyBG1{
    height: 100vh;
}

.partyBG1 video{
    width: 100%;
    height: 100%;
}

.partyBG2{
    background-image: url("/assets/Images/party2.jpeg");
    height: 100vh;
}


.partyBG3{
    background-image: url("/assets/Images/party5.jpeg");
    height: 70vh;
}

.partyBG1, .partyBG2, .partyBG3{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.partyFlex{
    display: flex;
    justify-content: center;
}

.partyFlexItem2{
    flex: 2;
}

.partyFlexItem1{
    flex: 1;
}

.partyFlexASelf{
    align-self: center;
}

.partyFlexList li{
    margin-bottom: 5px;
}

.partyinfo1{
    background-color: #5E2590;
}


.partyinfo2{
    background-color: #00ADEF;
}

.partyinfo3{
    background-color: #37AB9C;
}

.partyinfo1, .partyinfo2, .partyinfo3{
    margin: 0 auto;
    padding: 1em;
    position: relative;
    color: white;
    text-align: justify;
}

@media all and (max-width: 1024px){
    .partyBG1, .partyBG2, .partyBG3{
        height: 50vh;
    }

    .partyFlex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .partyinfo1, .partyinfo2, .partyinfo3{
        text-align: center;
    }

    .partyFlexList li{
        margin-bottom: 5px;
        text-align:justify;
    }
}