body{
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

h1 {
  text-align: left;
  margin-left: 2%;
  color: white;
}

.quicknav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2%;
}

.quickitem a{
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  color: #5E2590;
}

.pContainer, .pContainer2{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.card{
  width: 30em;
  height: 30em;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  margin-bottom: 1%;
}

.card-face{
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 15px;
}

.card-back{
  display: flex;
  flex-direction: column;
  transform: rotateY( 180deg );
  overflow-y: auto;
  
}

.card.is-flipped{
  transform: rotateY(180deg);
}

.transCont{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: auto;
  text-align: center;
  padding: 2%;
}

.prodLinks{
  color: white;
  // text-decoration: none;
}

.card1-front, .card1-back {
    background: url("/assets/images/aladdin.png");
    background-size: cover;
}

.card2-front, .card2-back {
    background: url("/assets/images/ella.png");
    background-size: cover;
}

.card3-front, .card3-back {
    background: url("/assets/images/matilda.png");
    background-size: cover;
}

.card4-front, .card4-back {
    background: url("/assets/images/polkadots.png");
    background-size: cover;
}

.card5-front, .card5-back {
    background: url("/assets/images/psycho.png");
    background-size: cover;
}

.card6-front, .card6-back {
    background: url("/assets/images/chicago.png");
    background-size: cover;
}

.card7-front, .card7-back {
    background: url("/assets/images/disenchanted.png");
    background-size: cover;
}

.card8-front, .card8-back {
    background: url("/assets/images/jekyll.png");
    background-size: cover;
}

//Purchase button for each production
.purchaseClick{
  margin:1%;
  padding: 0 1%;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  color: #5E2590
}

.purchaseClick:hover{
  a{color: white;}
  background-color: #5E2590;
}

.purchaseLink > a{
  text-decoration: none;
  color: #5E2590;
}

@media all and (max-width: 400px){

  .card{
      width: 18em;
      height: 18em;
      margin-bottom: 5%;
  }
}

@media all and (min-width: 401px) and (max-width: 768px){
  .pContainer, .pContainer2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card{
    width: 20em;
    height: 20em;
    margin-bottom: 5%;
  }

  .quicknav{
    text-align: center;
    font-size: 0.9em;
  }

  h1{
    text-align: center;
  }

}