body {
  width: 100vw;
  max-width: 100%; }

h1 {
  text-align: left;
  margin-left: 2%;
  color: white; }

.quicknav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2%; }

.quickitem {
  text-align: center;
  flex: 1; }

.quickitem a {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  color: #5E2590; }

.pContainer, .pContainer2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -o-perspective: 1000px;
  -moz-perspective: 1000px; }

.card {
  width: 30em;
  height: 30em;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -o-transform-style: preserve-3d;
  -o-transition: -o-transform 1s;
  -moz-transform-style: preserve-3d;
  -moz-transition: -moz-transform 1s;
  cursor: pointer;
  margin-bottom: 1%; }

.card-face {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  border-radius: 15px; }

.card-back {
  display: flex;
  flex-direction: column;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  overflow-y: auto; }

.card.is-flipped {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg); }

.transCont {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: auto;
  text-align: center;
  padding: 2%; }

.prodLinks {
  color: white; }

.card1-front, .card1-back {
  background: url("/assets/Images/garden.png");
  background-size: 100% 100% ;
}

.card2-front, .card2-back {
  background: url("/assets/Images/rent.png");
  background-size: 100% 100% ; }

.card3-front, .card3-back {
  background: url("/assets/Images/jasper.png");
  background-size: 100% 100% ; }

.card4-front, .card4-back {
  background: url("/assets/Images/wonderland.png");
  background-size: 100% 100% ; }

.card5-front, .card5-back {
  background: url("/assets/Images/brown.png");
  background-size: 100% 100% ; }

.card6-front, .card6-back {
  background: url("/assets/Images/chicago.png");
  background-size: cover; }

.card7-front, .card7-back {
  background: url("/assets/Images/disenchanted.png");
  background-size: cover; }

.card8-front, .card8-back {
  background: url("/assets/Images/jekyll.png");
  background-size: cover; }

.card9-front, .card9-back {
  background: url("/assets/Images/13.jpg");
  background-size: cover; }

.card10-front, .card10-back {
  background: url("/assets/Images/footloose.jpg");
  background-size: cover; }

.card11-front, .card11-back {
  background: url("/assets/Images/hansel.jpg");
  background-size: cover; }

.card-logofront, .card-logoback {
  background: url("/assets/Images/icons.svg");
  border: 1px solid black;
  padding: 1%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.noticeY {
  color: yellow;
  font-weight: bold; 
  font-size: 1.1em;
}

.black {
  margin: 2%;
  text-align: right;
  color: black; }

.purchaseClick {
  margin: 1%;
  padding: 0 1%;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  color: #5E2590; }

.purchaseClick:hover {
  background-color: #5E2590; }
  .purchaseClick:hover a {
    color: white; }

.purchaseLink {
  text-decoration: none;
  color: #5E2590;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.2em; }

@media all and (max-width: 400px) {
  .card {
    width: 18em;
    height: 18em;
    margin-bottom: 5%; } }
@media all and (min-width: 300px) and (max-width: 768px) {
  .pContainer, .pContainer2 {
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  .card {
    width: 20em;
    height: 20em;
    margin-bottom: 5%; }

  .quicknav {
    flex-direction: column;
    text-align: center;
    font-size: 0.9em; }

  h1 {
    text-align: center; } }

