h1 {
  text-align: center;
}

.PContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.productions{
  width: 15em;
  height: 25em;
  border: 1px solid #CCC;
  perspective: 600px;
}

.card{
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-face{
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card-front{
  background: red;
}

.card-back{
  background: blue;
  transform: rotateY( 180deg );
}

.card.is-flipped{
  transform: rotateY(180deg);
}
