.flexSponsors{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.thankYou{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 40vh;
    text-align: center;
    margin: 1% auto;
}

.sponsors{
    display: flex;
    flex-direction: column;
    width: 45vw;
    text-align: center;
}
//Styling for individual sponsors
.individual{
    width: 80%;
    background-color:rgba(255,255,255,0.3);
    border-radius: 15px;
}

.individual > li{
    font-size: 2em;
    margin: 1%;
    color: white;
}